// Place all the styles related to the public/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.header{
  background-color: #eeeeee;
}

table{
  width: 100%;
}

.common{
  width: 30%;
  background-color: #eeeeee;
  border-right: 2px solid black;
}