// Place all the styles related to the public/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.orders-complete {
  margin: 100px auto;
}

.customer_orders_table{
  width: 100%;
  tr,th,td{
    border: 2px solid black;
  }
  th{
    height: 50px;
  }
}