<div class="container">
  <div class="row">
    <div class="col-2">
      <div class="card">
        <div class="card-header">ジャンル検索</div>
        <div class="card-body">
          <p class="card-text">ケーキ</p>
          <p class="card-text">焼き菓子</p>
          <p class="card-text">プリン</p>
          <p class="card-text">キャンディ</p>
        </div>
      </div>
    </div>

    <div class="col-8 ml-2 top_img">
      <div class="message mx-auto border border-dark">
        ようこそ、ながのCAKEへ！</br>
        このサイトは、ケーキ販売のECサイトになります。</br>
        会員でない方も商品の閲覧はできますが、</br>
        購入には会員登録が必要です。</br>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-8 offset-2">
        <div><h1 class="my-3">新着商品</h1></div>
      </div>
  </div>

  <div class="row">
    <div class="col-8 offset-2 d-flex justify-content-between recomend_items">
      <div class="card" style="width: 10rem;">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image cap</text></svg>
        <div class="card-body">
          <p class="card-text">商品名</p>
          <p class="card-text">¥0,000</p>
        </div>
      </div>
      <div class="card" style="width: 10rem;">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image cap</text></svg>
        <div class="card-body">
          <p class="card-text">商品名</p>
          <p class="card-text">¥0,000</p>
        </div>
      </div>
      <div class="card" style="width: 10rem;">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image cap</text></svg>
        <div class="card-body">
          <p class="card-text">商品名</p>
          <p class="card-text">¥0,000</p>
        </div>
      </div>
      <div class="card" style="width: 10rem;">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image cap</text></svg>
        <div class="card-body">
          <p class="card-text">商品名</p>
          <p class="card-text">¥0,000</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-8 offset-2 mt-2 d-flex justify-content-end">
      <%= link_to "全ての商品を見る >", items_path, class: "text-dark"%>
    </div>
  </div>

</div>
