<div class="container">
  <div class="row">
    <div class="">
      <h3 class="p-5">
       <span style="background-color: #EEEEEE">ジャンル編集</span>
      </h3>
    </div>
  </div>

  <div class="row">
    <%= form_with model: @genre,url: admin_genre_path(@genre), method: :patch do |f| %>
     <p>
      <strong>ジャンル名</strong>
      <span class="mx-5">
       <%= f.text_field :name, autofocus: true, placeholder: "キャンディ" %>
      </span>
       <%= f.submit "変更を保存", class:"btn btn-success btn-lg" %>
     </p>
    <% end %>
  </div>
</div>