<div class="container">
  <div class="row">
    <h3 class="p-3"><span class="header">注文履歴詳細</span></h3>
  </div>
  
  <div class="row">
    <div class="col-8">
      <table>
        <thead>
          <tr>
            <th>注文情報</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>注文日</td>
            <td></td>
          </tr>
          <tr>
            <td>配送先</td>
            <td></td>
          </tr>
          <tr>
            <td>支払方法</td>
            <td></td>
          </tr>
          <tr>
            <td>ステータス</td>
            <td></td>
          </tr>
        </tbody>
      </table>
      
      <div class="col-3">
        <table>
          <thead>
            <tr>
              <th>請求情報</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>商品合計</td>
              <td></td>
            </tr>
            <tr>
              <td>配送料</td>
              <td></td>
            </tr>
            <tr>
              <td>ご請求額</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <div class="row">
        <div class="col-10">
          <table>
            <thead>
              <tr>
                <th>注文内容</th>
                <th>単価 (税込)</th>
                <th>個数</th>
                <th>小計</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>