<div class="container">
  <div class="row">
    <h3 class="p-3"><span class="header">検索結果一覧</span></h3>
  </div>

  <div class="row">
    <div class="col-8 offset-2 d-flex">
      <% @results.each do |item| %>
        <%= link_to item_path(item.id) do%>
          <div class="card mr-4" style="width: 10rem;">
            <%= attachment_image_tag item, :image, format: "jpg", size:'158x158', class: "card-image-top"%>
            <div class="card-body">
              <p class="card-text text-truncate text-dark"><%= item.name %></p>
              <p class="card-text text-dark">¥<%= item.with_tax_price.to_s(:delimited, delimiter: ',') %>(税込)</p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

</div>